@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap");

#shopping-card {
  padding-block: 40px;

  .container {
    .shopping-left {
      gap: 40px;

      h2 {
        font-weight: 400;
        font-style: Italic;
        font-size: 24px;
        line-height: 24px;
      }

      .item {
        img {
          border-radius: 6px;
        }

        .right {
          .text {
            h4 {
              width: 200px;
              max-width: 100%;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;

              @media (max-width: 991px) {
                width: 100%;
              }
            }

            p {
              font-family: "Chau Philomene One", sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
            }
          }

          .price-details {
            .price {
              span {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 3%;
              }
            }

            .quantity {
              span {
                padding: 0.5rem 1rem;
                border-radius: 4px;
                border: 0.5px solid #d9d9d9;

                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
              }
            }
          }
        }
      }

      .divider {
        width: 100%;
        height: 0px;
        border: 0.5px solid #a3a3a3;
      }
    }

    .payment-right {
      padding: 56px 64px;
      border-radius: 10px;
      border: 1px solid #ebebeb;

      @media (max-width: 575px) {
        padding-inline: 1rem;
      }

      h2 {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
      }

      form {
        .form-wrapper {
          .form-field {
            label {
              color: #545454;
              font-family: "Chau Philomene One", sans-serif;
              font-weight: 400;
              font-style: Italic;
              font-size: 14px;
              line-height: 16px;
            }

            .input-control {
              position: relative;

              input {
                padding-block: 20px;
              }

              .apply-btn {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);

                width: 76.45px;
                text-align: center;
                background-color: transparent;
                padding-block: 8px;
                border: 1px solid #000000;
                border-radius: 8px;

                color: black;
                font-family: "Chau Philomene One", sans-serif;
                font-weight: 400;
                font-style: Italic;
                font-size: 12px;
                line-height: 16px;
                transition: all 0.2s ease;

                &:hover {
                  background-color: rgb(37, 37, 37);
                  color: white;
                }
              }
            }

            input {
              width: 100%;
              padding: 16px;
              border-radius: 7px;
              border: 0.5px solid #9f9f9f;

              font-family: "Chau Philomene One", sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: -0.3px;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: #979797;
              }
            }
          }
        }

        .total-sum {
          h5 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
          }

          > div:nth-child(2) h5 {
            color: #545454;
            font-family: "Chau Philomene One", sans-serif;
            font-weight: 400;
            line-height: 32px;
          }

          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.5px;
          }
        }

        button.btn {
          font-family: "Chau Philomene One", sans-serif;
          font-weight: 400;
          font-style: Italic;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          padding-block: 1rem;
        }
      }
    }
  }
}

footer {
  margin-top: 0 !important;
}
